<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/new_inventory_control_managment_system/src/main_page/reorder_main_page.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="main_page.reorder_main_page"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="new_inventory_control_managment_system"/>
</launchConfiguration>
